*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    display: flex;
    justify-content: space-evenly;
    color: white;
    align-items: center;
}
.nav-logo{
    height: 50px;
    width: 100px;
    
}
.logo{
    background-image: url("amazon_logo.png");
   background-size: cover;
    height: 50px;

    width: 100%;
    margin: auto;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}
#add-first{
    color: #cccccc;
    font-size:0.85rem;
    margin-left: 15px;
}
#add-second{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 3px;
    background-color: pink;

}
.nav-search:hover{
    border: 2px solid orange;
}
#search-select{
    background-color: #f3f3f3;
    width: 50px;text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;

}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color:#febd68 ;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #0f1111;
}
.nav-first{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
.nav-pannel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;



}
.panel-ops{
       display: flex;
    width: 70%;
    font-size: 0.85rem;
    margin-left: 15px;
}
.pannel-deals{
    font-size: 0.90rem;
    font-weight: 700;
}.panel-ops p{
    margin-left: 15px;
}
.hero-section{
    background-image: url("hero_image.jpg");
    height: 400px;
    background-size: cover;
    
    display: flex;
    justify-content: center;
    align-items: self-end;
    
}
.anchor{
text-decoration: none;
color: #007183;
}
.hero-message{
    background-color: white;
    color:black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    margin-bottom: 25px;
    width: 80%;

    
}
.shop-section{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
background-color: #e2e7e6;

}
.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box-img{
    background-image: url("box1_image.jpg");
    height: 300px;
    background-size: cover;
    margin-bottom: 1rem;
    margin-top: 1rem;
    



}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;

}
 .box-content .cart{
 background-color: black;
 color:white;
 position: absolute;
 padding: 0.4rem;
 left: 75%;
 bottom: 0.1%;
 border-radius: 2rem;
 font-size: 0.8rem;
 font-weight: 300;

 
}
.box-content p{
    color: #007183;
}
footer{
    margin-top: 15px;
    background-color: #e2e7e6;
}
.foot-panel1{
    color: white;
    background-color: #37475a;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;

}
.foot-panel2 a{
    text-decoration: none;
    

}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;

}
ul{
    margin-top: 20px;
    list-style-type: none;
}
ul li{
    font-size: 0.85rem;
    margin-top: 10px;
    
}
ul a{
    color: #dddddd;
}
.foot-pannel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid black; 
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.foot-logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
     height: 50px;
     width: 100px;
 
    
}
.foot-pannel4{
    background-color: #0f1111;
    color: white;
    height: 100px;
}
.pages{
    font-size: 0.7rem;
text-align: center;
padding-top: 25px;
color: #dddddd;
}
.copyrights{
 text-align: center;
 margin-top: 5px;
    font-size: 0.7rem;
}
.pages a{
    text-decoration: none;
    color: #dddddd;
}
